body {
  background-color: FloralWhite;
}

.circle {
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.signSymbol {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  color: white;
}

#dropButton {
  font-family: "Ubuntu Mono", monospace;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 3vh;
  background-color: DimGrey;
  color: white;
  border: none;
  width: 13vh;
  height: 5vh;
}

#gravitySliderContainer {
  position: absolute;
  right: 2.5%;
  top: 0;
  z-index: 1;
}

#gravitySlider {
  width: 25vw;
}
.sliderLabel {
  font-family: "Ubuntu Mono", monospace;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: table;
}
form {
  font-family: "Ubuntu Mono", monospace;
}

#chargeSignFormContainer{
  max-width: 30%;
}

.chargeSignFormLabel{
  display: inline-block;
}

#mainContainer {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 15vh;
  transform: translateX(-50%);
  width: 85%;
  height: calc(85vh - 60px);
  border: 1px solid black;
}
